{
  "currencies": {
    "BTC": 0,
    "DCR": 0,
    "XMR": 0,
    "ETH": 0,
    "NAS": 0,
    "DOGE": 0,
    "LTC": 0,
    "EAC": 0,
    "SLL": 0
  },
  "coinlayer": "74f80ffe87ad74d71800c05f48e3b322"
}
